In [1]:
import pandas as pd
import configs
import json
import utilities as utils

In [2]:
val_df = pd.read_csv(f'{configs.DATASET_DIR}/validate.csv')

In [3]:
with open(f"{configs.DATASET_DIR}/validate.json") as f:
    val_dict = json.load(f)

In [4]:
val_df

                       label   youtube_id  time_start  time_end     split
0              javelin throw  --07WQ2iBlw           1        11  validate
1           flipping pancake  --33Lscn6sk           4        14  validate
2          playing saxophone  --7VUM9MKg4         136       146  validate
3                   slapping  --7goKgS4kc          15        25  validate
4                 making tea  --7qK_w-g3Y         185       195  validate
...                      ...          ...         ...       ...       ...
17722  dancing gangnam style  zyf4BkKrKXY         101       111  validate
17723    clay pottery making  zyhaT3wPCp8          97       107  validate
17724        folding clothes  zyloWArlaQ0           0        10  validate
17725            headbanging  zymA_6jZIz4           1        11  validate
17726        sled dog racing  zzokQ8DKETs         112       122  validate

[17727 rows x 5 columns]

In [5]:
val_dict[list(val_dict.keys())[0]]

{'annotations': {'label': 'javelin throw', 'segment': [1.0, 11.0]},
 'duration': 10.0,
 'subset': 'validate',
 'url': 'https://www.youtube.com/watch?v=--07WQ2iBlw'}

In [6]:
for index, row in val_df.iterrows():
    url = f"https://www.youtube.com/watch?v={row['youtube_id']}"
    
    highest_magnitude_flow_frame, highest_flow, flow_plot = utils.get_max_flow_frame(url)